#container{
    display: flex;
}

#formBlock,.placeHolder{
    flex: 1;
}

#formBlock {
    border: 1px solid black;
    width: 400px;
    height: 200px;
    padding-top: 50px;
    padding-left: 30px;
    background-color: blueviolet;
}